*{
    margin: 0px;
    padding: 0px;
    background-color:#B4D4FF;
}
.container{
    width: 350px;
            height: 300px;
            padding-left: 20px;
            padding-top: 20px;
            border: 1px solid black;
            position: absolute;
}