i{
    padding: 10px
}
#navbarSupportedContent{
    margin-left: 150px;
}
.cm{
    display: flex;
    margin-right: 400px;
}
.call{
    margin-right: 90px;
}
.bton{
    margin-right: 50px;
    border-radius: 500px;
}
#navbarNav{
    margin-left: 350px;
}
form{
    margin-left: 80px;
}
.btn{
    margin-left: 20px;
}
img{
    image-resolution: initial;
    background-position: center;
    background-size: cover;
    width: 1550px;
    height: 600px;
    opacity: 0.5;
}
.text{
  position: absolute;
  bottom: 50px;
}
.footer{
    background-color: palevioletred;
}
.card{
    background-color: palevioletred;
    width: 18rem; 
    margin-top: 25px;
}
#card1{
    margin-left: 200px;
}
#card2{
    margin-left: 550px;
    margin-top: -200px;
}
#card3{
    margin-left: 900px;
    margin-top: -200px;
}

